.header{
    background: darkgray;
    margin-bottom: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    font-size: 50px;
}

.element:first-child{
    background: rosybrown;
}

.element:nth-child(2){
    background: blueviolet;
}

.element:nth-child(3){
    background: darkred;
}

.element:nth-child(4){
    background: darkseagreen;
}

.element:last-child{
    background: dodgerblue;
}

p{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 20px;
    background: darkblue;
}

.container > *{
    padding: 10px;
    flex: 1 100%;
    flex-wrap: wrap;
}

.element{
    flex-basis: 25%;
}

.footer{
    margin-top: 10px;
    background: darkgray;
    padding: 10px;
}

.footer > p{
    font-size: 40px;
}

@media all and (min-width: 320px){
    .element:first-child{order: 1}
    .element:nth-child(2){order: 2}
    .element:nth-child(3){order: 3}
    .element:nth-child(4){order: 4}
    .element:last-child{order: 5}
}

@media all and (min-width: 648px) {
    .element:first-child{order: 1}
    .element:nth-child(2){order: 2}
    .element:nth-child(3){order: 3}
    .element:last-child{order: 4}
    .element:nth-child(4){order: 5}
}

@media all and (min-width: 1024px){
    .element:first-child{order: 1}
    .element:nth-child(2){order: 2}
    .element:nth-child(3){order: 3}
    .element:nth-child(4){order: 4}
    .element:last-child{order: 5}
}