body{
    font-size: 14px;
    line-height: 1.428;
}

.center{
    justify-content: center;
    position: absolute;
    border-collapse: collapse;
}

.white{
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 1px;
    display: inline-block;
    padding: -2px;
    margin: 0px;
    border-collapse: collapse;
}

.black{
    width: 100px;
    height: 100px;
    background-color: black;
    border: solid 1px;
    display: inline-block;
    padding: -2px;
    margin: 0px;
    border-collapse: collapse;
}

.br{
    line-height: 0px;
    border-collapse: collapse;
}